---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Codeblock from "../../components/mdx/Codeblock.astro";

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
    },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
  <div class="pb-4">
    <h1
      class="mb-2 text-pretty font-display text-5xl text-stone-50 md:text-7xl"
    >
      {entry.data.title}
    </h1>
    <p class="text-base text-stone-400">
      Published on: {
        new Intl.DateTimeFormat("en-SE", {
          dateStyle: "long",
        }).format(entry.data.publishDate)
      }
    </p>
  </div>
  <div
    class="prose prose-stone prose-invert max-w-none prose-headings:text-stone-50"
  >
    <Content components={{ pre: Codeblock }} />
  </div>
</Layout>
