---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="mb-12 text-stone-50">
    <div class="text-stone-300">Hi, I'm</div>
    <div class="-mt-3 font-display text-7xl md:-mt-5 md:text-9xl">Nomad</div>
  </h1>
  <p>
    I'm a hobbyist developer mainly interested in JS and the lovely chaos of the
    web development landscape.
  </p>
  <p class="mt-4">
    When I'm not coding you can find me in the <a
      href="https://lucia-auth.com"
      target="_blank"
      rel="noopener noreferrer"
      class="text-sky-500 hover:underline">Lucia Auth</a
    > community as (barely) a contributor and a moderator, you should <a
      href="https://discord.com/invite/PwrK3kpVR3"
      target="_blank"
      rel="noopener noreferrer"
      class="text-sky-500 hover:underline">join us</a
    >!
  </p>
  <section class="mt-16">
    <h2 class="font-display text-4xl">Blog</h2>
    <p class="mt-4">
      The plan is to write some articles here about whatever I find interesting,
      most likely Lucia and auth. I just need to find the time...
    </p>
  </section>
</Layout>
