<footer
  class="mt-auto flex justify-between py-2 text-sm text-stone-400 md:text-base"
>
  <span
    >Built with <a
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
      class="text-sky-500/80 hover:underline">Astro</a
    >, and of course <a
      href="https://github.com/LinusOP/nomadwastaken.dev"
      target="_blank"
      rel="noopener noreferrer"
      class="text-sky-500/80 hover:underline">on github</a
    >!</span
  >
  <span>Nomad &copy; 2024</span>
</footer>
