---
import { Image } from "astro:assets";
import logo from "../images/logo.png";
import githubLogo from "../images/github-mark-white.svg";
---

<header class="flex items-start py-4 text-xl text-stone-50 md:py-8 md:text-2xl">
  <a href="/" aria-label="Link to homepage"
    ><Image
      src={logo}
      class="aspect-square w-12 rounded-full transition-transform hover:scale-110 md:w-16"
      alt="My nomad logo consisting of a white N on a blue background"
    /></a
  >
  <div class="ml-auto flex gap-4">
    <a
      href="https://github.com/LinusOP"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to my Github"
    >
      <Image
        src={githubLogo}
        alt="Github logo"
        class="aspect-square w-8 transition-transform hover:scale-110 md:w-10"
      />
    </a>
  </div>
</header>
